.addNewBlog {
  margin-bottom: 2rem;
  text-align: end;
}

.loading {
  margin: 10rem auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #e98382;
  border-bottom: 16px solid #e98382;
  border-left: 16px solid #eed889;
  border-right: 16px solid #eed889;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noData,
.msgErr {
  text-align: center;
  p {
    font-size: 3rem;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 3rem;
  }
}
